In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer
df = pd.read_csv('/content/archive (14) (1).zip')[['Age','Fare','SibSp','Parch','Survived']]
df.dropna(inplace=True)
df.head()

    Age     Fare  SibSp  Parch  Survived
0  34.5   7.8292      0      0         0
1  47.0   7.0000      1      0         1
2  62.0   9.6875      0      0         0
3  27.0   8.6625      0      0         0
4  22.0  12.2875      1      1         1

In [ ]:
df['family'] = df['SibSp'] + df['Parch']
df.head()

    Age     Fare  SibSp  Parch  Survived  family
0  34.5   7.8292      0      0         0       0
1  47.0   7.0000      1      0         1       1
2  62.0   9.6875      0      0         0       0
3  27.0   8.6625      0      0         0       0
4  22.0  12.2875      1      1         1       2

In [ ]:
df.drop(columns=['SibSp','Parch'],inplace=True)
df.head()

    Age     Fare  Survived  family
0  34.5   7.8292         0       0
1  47.0   7.0000         1       1
2  62.0   9.6875         0       0
3  27.0   8.6625         0       0
4  22.0  12.2875         1       2

In [ ]:
X = df.drop(columns=['Survived'])
y = df['Survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.head()

       Age     Fare  family
281   0.75  13.7750       2
96   76.00  78.8500       1
341  32.00   7.5792       0
18   27.00   7.9250       1
26   22.00  61.9792       1

In [ ]:
# Without binarization

clf = DecisionTreeClassifier()

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

accuracy_score(y_test,y_pred)

0.5970149253731343

In [ ]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6012477718360071

In [ ]:
# Applying Binarization

from sklearn.preprocessing import Binarizer
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [ ]:
pd.DataFrame(X_train_trf,columns=['family','Age','Fare'])

     family    Age     Fare
0       1.0   0.75  13.7750
1       1.0  76.00  78.8500
2       0.0  32.00   7.5792
3       1.0  27.00   7.9250
4       1.0  22.00  61.9792
..      ...    ...      ...
259     0.0  20.00   7.2250
260     0.0  27.00   7.8792
261     0.0  43.00   7.8958
262     0.0  16.00   7.6500
263     0.0  42.00  13.0000

[264 rows x 3 columns]

In [ ]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred2 = clf.predict(X_test_trf)

accuracy_score(y_test,y_pred2)

0.6119402985074627

In [ ]:

X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X_trf,y,cv=10,scoring='accuracy'))

0.6041889483065954