In [2]:

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('/content/archive (5).zip')[['Age','Pclass','Fare','Survived']]

In [12]:
df.head()

    Age  Pclass     Fare  Survived
0  34.5       3   7.8292         0
1  47.0       3   7.0000         1
2  62.0       2   9.6875         0
3  27.0       3   8.6625         0
4  22.0       3  12.2875         1

In [8]:
df.isnull().mean() * 100

Age         20.574163
Pclass       0.000000
Fare         0.000000
Survived     0.000000
dtype: float64

In [10]:
df['Fare'].fillna(df['Fare'].mean(),inplace=True)

In [13]:
df.isnull().mean() * 100

Age         20.574163
Pclass       0.000000
Fare         0.000000
Survived     0.000000
dtype: float64

In [14]:
X = df.drop(columns=['Survived'])
y = df['Survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)
X_train.head()

      Age  Pclass     Fare
280  23.0       3   8.6625
284   2.0       3  20.2125
40   39.0       3  13.4167
17   21.0       3   7.2250
362  31.0       2  21.0000

In [16]:
knn = KNNImputer(n_neighbors=3,weights='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6547619047619048

In [17]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6428571428571429